<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Home to airbnb</title>
    <link rel="stylesheet" href="output.css">

</head>
<body>
     <header class="bg-red-700 text-white p-4 shadow-md ">
        <nav class="container mx-auto flex gap-10 justify-between items-center ">
          <ul class="flex space-x-4">
            <li>
              <a href="/" class="hover:bg-red-400 transition-all duration-75 py-2 px-4 rounded-lg  ">Go to Home</a>
      <a href="/add-home" class="hover:bg-red-400 transition-all duration-75 py-2 px-4 rounded-lg">Add Home </a>

            </li>
          </ul>
        </nav>
    </header>
    <main>
    <form action="add-home" method= "POST" class="flex flex-col justify-center items-center shadow-lg max-w-xl mx-auto px-1 py-8 gap-5 mt-10">
       <h1 class="text-2xl font-semibold">Register your Home OnAirbnb:</h1>

        <input class="border border-gray-600 px-4  py-1 focus-ring-red-500" type= "text" name="houseName" placeholder="Enter House Name" />
        <input type="submit" class="bg-red-500 px-4 py-1 text-white rounded-lg"/>
        </form>
    </main>
    
</body>
</html>